<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id			= "metal347.trayecto"
		version		= "1.0.0" >

	<name>Trayecto</name>
	
	<description>
		Trayecto en HTML5, CSS3 y JavaScript
	</description>
	
	<author href="https://build.phonegap.com" email="support@phonegap.com">
		metal347
	</author>
	
	<icon src="icon.png" />
	
	<gap:platform name="android" />
	
</widget>